body{
	margin: 0px;
}
div.pretofixo1{
	background-color: black;
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
}
div.pretofixo2{
	height: 200px;
	width: 40px;
	background-color: black;
	position: fixed;
	top: 100px;
}
div.pretofixo3{
	height: 200px;
	width: 40px;
	background-color: black;
	position: fixed;
	top: 100px;
	right: 0px;
}
div.main{
	margin-top: 40px;
	background-color: black;
	width: 980px;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
div.azul{
	height: 122px;
	background-color: blue;
}
div.marrom{
	height: 100px;
	background-color: brown;
}
div.rosa{
	height: 40px;
	background-color: magenta;
}
div.amarelo{
	height: 400px;
	width: 653.3332px;
	background-color: yellow;
	float: left;
}
div.vermelho{
	height: 400px;
	width: 326.6666px;
	background-color: red;
	float: left;
}
div.cinzaamarelo{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 623.3332px;
	height: 75px;
	background-color: lightgray;
}
div.cinzavermelho{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 296.6666px;
	height: 177.5px;
	background-color: lightgray;
}
div.pretoabsoluto1{
	background-color: black;
	position: absolute;
	width: 250px;
	height: 180px;
	left: 220px;
	top: 80px;
}
div.pretoabsoluto2{
	background-color: black;
	position: absolute;
	width: 150px;
	height: 40px;
	right: 40px;
	top: 80px;
}